.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/PomodoroWebsite.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
registeration_creds.txt
.vscode